<div class="modal-container hide" id="change-password-modal">

    <form class="modal">
        <h2 class="modal-header">
            change password
            <i class="fa-solid fa-x close-modal"></i>
        </h2>
        <div class="modal-content">
            <div class="modal-row">
                <label for="old-password">Old Password</label>
                <input type="password" id="old-password">
                <ul class="invalid-field-msg" id="old-password-msg"></ul>
            </div>
            <div class="modal-row">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password">
                <ul class="invalid-field-msg" id="new-password-msg"></ul>
            </div>
            <div class="modal-row">
                <input type="submit" value="Change password" id="change-password-submit" class="modal-submit">
            </div>
        </div>
    </form>

</div>