<div id="chat-tab" class="tab">
    <div id="conversation-bar" class="tab-side-bar active">
        <div id="chat-search" class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </div>

        <ul id="chat-list" class="tab-side-bar-ul"></ul>
    </div>

    <div id="chat-main">

        <header class="header">
            <div class="header__content">
                <div class="header__name"></div>
                <div class="header__state">
                    <!-- <div class="online-state online"></div>
                    online -->
                </div>
            </div>
            <div class="header__nav">
                <button class="more-info-btn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
            </div>
        </header>

        <div class="chat-screen">
    
        </div>
        
        <div id="chat-controller">
            <div id="chat-image-preview" class="hide">
                <i class="fa-solid fa-circle-xmark"></i>
                <img src="" alt="" id="">
            </div>
            <div id="chat-attach"><i class="fa-regular fa-image"></i></div>
            <input type="text" id="chat-input" placeholder="Your message">
            <button id="send-message-button"><i class="fa-regular fa-paper-plane"></i></button>
        </div>

    </div>
</div>