<div id="friend-tab" class="tab hide">
    <div id="friend-bar" class="tab-side-bar">
        <div id="friend-search" class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </div>

        <ul id="friend-list" class="tab-side-bar-ul">
            <!-- <li class="tab-side-bar-li stranger" user-id="4">
                <img src="./testavt.jpg" alt="avt" class="chat-item__avatar">
                <div class="tab-side-bar-li__body">
                    <h3 class="friend-name">tran the hung ----</h3>
                    <div class="friend-item-features">
                        <button class="friend-item-feature add-friend">
                            <i class="fa-solid fa-user-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="tab-side-bar-li__info">
                    <span class="info-time"></span>
                </div>
            </li> -->
        </ul>
    </div>
</div>